*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Big Shoulders Display', cursive, 'Outfit', sans-serif;
    
}

.leaflet-container {
    height: 400px;
    width: 600px;
    max-width: 100%;
    max-height: 100%;
}
#map { 
    width: 100%;
    height: 550px;
    position: relative;
    
}

.leaflet-tile {
    filter: saturate(0%) !important;
}
.location{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}
.location-btn{
    width: 264px;
    height: 72px;
    border: none;
    background-color: #151515;
    color: #FFFFFF;
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.63636px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 35px;
    overflow: hidden;
    cursor: pointer;
}
.location-btn:hover{
    background-color: #D5966C;
}
.arrow{
    background-color: #D5966C;
    padding: 24px;
}
.arrow:hover{
    background-color: #151515;
}

.location-container{
    background-color: #151515;
    padding: 48px 16px 56px 16px;
}
.location-title{
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 48px;
}
.span{
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 32px;
    text-transform: uppercase;
    color: #D5966C;
    margin-bottom: 20px;
}
address{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.location-text{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    
}
/*********** FOOTER **********/
.footer{
    background-color: #D5966C;
    padding: 48px 32px;
}
.footer img{
    margin-bottom: 38px;
}

.footer-text{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #151515;
    margin-bottom: 38px;
}
.footer-social{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
svg:hover{
    fill: #fff;
}
/**** MEDIA ****/
@media (min-width: 689px){
    .location-container{
        display: flex;
        justify-content: center;
        gap: 68px;
        padding: 88px 40px 80px 39px;
    }
    .footer-content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }
    .footer-social{
        margin: auto;
        margin-top: 0;
    }
    .footer-text{
        margin-bottom: 0;
        width: 281px;
    }
}
@media (min-width: 1110px){
    .location-container{
        height: 548px;
        padding: 104px 165px 128px 165px;
    }
    .footer{
        height: 100%;
    }
    .footer-content{
        padding: 80px 165px;
    }
    .location-title{
        font-size: 70px;
        line-height: 70px;
    }
    .footer-text{
        font-size: 18px;
        line-height: 28px;
    }
    .span{
        font-size: 36px;
        line-height: 36px;
    }
    address{
        font-size: 22px;
        line-height: 32px;
    }
    .footer-logo{
        width: 150px;
    }
}
@media (min-width: 1500px){
    .footer-text{
        width: 400px;
        font-size: 25px;
        line-height: 40px;
    }
    .footer-logo{
        width: 170px;
    }
}
@media (min-width: 1500px){
    .footer-text{
        width: 600px;
        font-size: 35px;
        line-height: 50px;
    }
    .footer-logo{
        width: 200px;
    }
    svg{
        width: 40px;
        height: 40px;
    }
    .footer-social{
        column-gap: 40px;
    }
}

